<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/login.css">
</head>

<body>
    {% include "header.html" %}
    <div id="card">
        <div id="card-content">
            <div id="card-title">
                <h2>MASUK</h2>
            </div>
            <form method="post" class="form" action="/login">
                <label for="user-email" style="padding-top:13px">
                    &nbsp;Email
                </label>
                <input id="user-email" class="form-content" type="email" name="email" autocomplete="on" required />
                <div class="form-border"></div>
                <label for="user-password" style="padding-top:22px">&nbsp;Password
                </label>
                <input id="user-password" class="form-content" type="password" name="password" required />
                <div class="form-border"></div>
                <a href="/send_email">
                    <legend id="forgot-pass">Lupa Kata Sandi?</legend>
                </a>
                <input id="submit-btn" type="submit" name="submit" value="Masuk" />
                <a href="/signup" id="signup">Belum memiliki akun?</a>
            </form>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
      {% for category, message in messages %}
      <li{% if category %} class="{{ category }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>

</html>
