<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <div>
        <h2>Forgot Password</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="post" action="{{ url_for('lupa_password') }}">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <!-- <button type="submit">Reset Password</button> -->
            <div class="form-group mt-2">
                {{form.submit(class="btn btn-primary")}}
            </div>
        </form>
    </div>
</body>
</html>
