<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="static/css/reset-password.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
    </style>
</head>
<body>
    {% include "header.html" %}

    <div id="card">
        <div id="card-content">
            <div id="card-title">
                <h2>Forgot Password</h2>
            </div>
            <form method="post" class="form" action="/forgot-password">
                <label for="user-email" style="padding-top:13px">
                    &nbsp;Email
                </label>
                <input id="user-email" class="form-content" type="email" name="email" autocomplete="on" required />
                <div class="form-border"></div>

                <input id="submit-btn" type="submit" name="submit" value="Send Reset Link" />
            </form>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
      {% for category, message in messages %}
      <li{% if category %} class="{{ category }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% include "footer.html" %}
</body>
</html>
