<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <!-- Include jsPDF library -->
    <script src="{{ url_for('static', filename='jsPDF-master/dist/jspdf.umd.min.js') }}"></script>
</head>
<body>
    <!-- <h1 style="text-align: center;">Report hasil pengecekan</h1> -->
    {% include "header_user.html" %}

    <!-- Add an iframe for PDF preview -->
    <iframe id="pdf-preview" width="100%" height="600px" style="border: 1px solid #ddd;"></iframe>

    <script>
        window.jsPDF = window.jspdf.jsPDF;

        // Declare doc as a global variable
        var doc;

        function setTextColor(result, passColor, failColor) {
            if (result === "PASS") {
                doc.setTextColor(passColor[0], passColor[1], passColor[2]);
            } else {
                doc.setTextColor(failColor[0], failColor[1], failColor[2]);
            }
        }

        function generatePDF() {
            // Create a new jsPDF instance
            doc = new jsPDF();
            doc.setFont('helvetica');

            // Add left margin
            var leftMargin = 10;
            
            // Add right margin
            var rightMargin = doc.internal.pageSize.width - 10;

            var messageContainer = document.getElementById('message-container');

            var textLeft = leftMargin;
            var logoWidth = 25;
            var logoHeight = 30;
            var logoImage = '{{ url_for("static", filename="img/logo-polban.png") }}';
            doc.addImage(logoImage, 'PNG', rightMargin - logoWidth, 5, logoWidth, logoHeight);

            var textLeft = leftMargin;
            var textTop = 20;
            doc.setFontSize(12);
            doc.text('Nama Mahasiswa             : {{ user_name }}', textLeft, textTop);
            doc.text('NIM                                   : {{ user_nim }}', textLeft, textTop + 5);
                      
            var currentDate = new Date();
            var options = { 
                timeZone: 'Asia/Jakarta',
                day: 'numeric',
                month: 'long',
                year: 'numeric'
            };
            var formattedDate = currentDate.toLocaleDateString('en-US', options);
            doc.text('Tanggal Pemeriksaan       : ' + formattedDate, textLeft, textTop + 10);

            doc.setFontSize(16);
            doc.text('Halaman Persetujuan', leftMargin, 50);
            doc.line(leftMargin, 53, rightMargin, 53);

            doc.setTextColor(255, 0, 0);
            doc.setFontSize(12);
            doc.text('Validity Report', leftMargin, 60);

            doc.setTextColor(0, 0, 0);
            doc.line(leftMargin, 63, rightMargin, 63);

            
            var word_count_result = "{{ word_count_result }}";
            var ket_status_judul = "{{ ket_status_judul }}";
            var status_nama_dosbing = "{{ status_nama_dosbing }}";
            var keterangan = "{{ keterangan }}";
            var status_nip_dosbing = "{{ status_nip_dosbing }}";
            var ket_nip_dosbing = "{{ ket_nip_dosbing }}";
            var status_kaprodi = "{{ status_kaprodi }}";
            var ket_status_kaprodi = "{{ ket_status_kaprodi }}"; 
            var status_nip_kaprodi = "{{ status_nip_kaprodi }}";
            var ket_status_nip_kaprodi = "{{ ket_status_nip_kaprodi }}";
            
            var passColor = [0, 128, 0];
            var failColor = [255, 0, 0];

            setTextColor(word_count_result, passColor, failColor);
            doc.text(word_count_result, rightMargin, 77, { align: 'right' });

            setTextColor(status_nama_dosbing, passColor, failColor);
            doc.text(status_nama_dosbing, rightMargin, 104, { align: 'right' });

            setTextColor(status_nip_dosbing, passColor, failColor);
            doc.text(status_nip_dosbing, rightMargin, 131, { align: 'right' });

            setTextColor(status_kaprodi, passColor, failColor);
            doc.text(status_kaprodi,rightMargin, 158, { align: 'right' });

            setTextColor(status_nip_kaprodi, passColor, failColor);
            doc.text(status_nip_kaprodi, rightMargin, 185, { align: 'right' });

            doc.setFontSize(10);
            doc.setFont('times');
            doc.setTextColor(0, 0, 0);
            doc.text(ket_status_judul, leftMargin, 75);
            doc.text(keterangan, leftMargin, 102);
            doc.text(ket_nip_dosbing, leftMargin, 129);
            doc.text(ket_status_kaprodi, leftMargin, 156);
            doc.text(ket_status_nip_kaprodi, leftMargin, 183);

            doc.setTextColor(0, 0, 0);
            doc.setFontSize(12);
            doc.setFont('helvetica','bold');
            
            doc.text('JUDUL', leftMargin, 70);
            doc.line(leftMargin, 90, rightMargin, 90);

            doc.text('NAMA LENGKAP DAN GELAR PEMBIMBING JURUSAN', 10, 97);
            doc.line(leftMargin, 117, rightMargin, 117);

            doc.text('NIP PEMBIMBING JURUSAN', 10, 124);
            doc.line(leftMargin, 144, rightMargin, 144);

            doc.text('NAMA LENGKAP DAN GELAR KETUA PRODI', 10, 151);
            doc.line(leftMargin, 171, rightMargin, 171);

            doc.text('NIP KETUA PRODI', 10, 178);
            doc.line(leftMargin, 198, rightMargin, 198);

            // Replace the following code to set the src attribute of the iframe
            var pdfBlob = doc.output('blob');
            var pdfUrl = URL.createObjectURL(pdfBlob);

            // Membuat nama file PDF yang unik dengan nama user
            var username = '{{ user_name }}';
            var pdfFileName = 'report_' + username + '.pdf';

            // Menggunakan FormData untuk membuat objek form data
            var formData = new FormData();
            formData.append('pdf_file', pdfBlob, pdfFileName);

            var pdfPreview = document.getElementById('pdf-preview');
            pdfPreview.src = pdfUrl;  // Set the src attribute to the new PDF URL

            // Menggunakan Fetch API untuk mengirimkan request POST ke endpoint /save_pdf
            fetch('/save_pdf', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('File saved successfully:', data.filename);
            })
            .catch(error => {
                console.error('Error saving file:', error);
            });
        }
        window.onload = generatePDF;
    </script>
</body>
</html>
