<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="static/css/register.css">
</head>

<body>
    {% include "header.html" %}
    <div id="card">
        <div id="card-content">
            <div id="card-title">
                <h2>DAFTAR</h2>
            </div>
            <form method="post" class="form" action="/signup">
                <label for="user-fullname" style="padding-top:13px">
                    &nbsp;Nama
                </label>
                <input id="user-fullname" class="form-content" type="text" name="full_name" autocomplete="on" required maxlength="255" />
                <div class="form-border"></div>                
            
                <label for="user-nim" style="padding-top:13px">
                    &nbsp;NIM
                </label>
                <input id="user-nim" class="form-content" type="text" name="student_id" pattern="[0-9]+" title="Please enter only numeric characters" autocomplete="on" required />
                <div class="form-border"></div>
            
                <label for="user-email" style="padding-top:13px">
                    &nbsp;Email
                </label>
                <input id="user-email" class="form-content" type="email" name="email" autocomplete="on" required />
                <div class="form-border"></div>
            
                <label for="user-password" style="padding-top:22px">
                    &nbsp;Password
                </label>
                <input id="user-password" class="form-content" type="password" name="password" required />
                <div class="form-border"></div>
                <span id="password-error" style="color: red;"></span>
            
                <label for="confirm-password" style="padding-top:22px">
                    &nbsp;Konfirmasi Password
                </label>
                <input id="confirm-password" class="form-content" type="password" name="confirm_password" required />
                <div class="form-border"></div>
                <span id="password-match-error" style="color: red;"></span>
            
                <input id="submit-btn" type="submit" name="submit" value="Daftar Sekarang" />
            </form>                
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li{% if category %} class="{{ category }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% include "footer.html" %}
</body>
</html>